* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    height: 11vh;
    background-color: #402530;
    display: flex;
    align-items: center;
    font-size: 1.1 rem;
    color: white;
   
    justify-content: space-between;
    padding-right: 2%;
}

.logo {
    height: 7vh;
    width: 11vw;
    background-image: url('./Screenshot\ 2024-12-02\ at\ 9.43.10\ AM.png');
    background-size: contain;

}

nav a {
    text-decoration: none;
    color: white;
}

nav a svg {
    height: 1vh;

}

.see_ripp {
    color: #402530;
    background-color: #FDB71B;
    border-style: none;
    border-radius: 3px;
    height: 5.5vh;
    padding: 12px;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.1mm;;
}

.eng img {
    height: 2.5vh;
margin-right:5px ;
    border-radius: 100%;
}
.eng p {
    opacity: 0.8;
}
.eng {
    display: flex;

}

.vertical {
    border: 0.5px solid white;
    height: 4vh;
    opacity: 0.5;

}

.nav_cont{
    display: flex;
   align-items: center;
   width: 50%;
   justify-content: space-around;
}
.nav_cont_right{
    width: 25%;
}
.hero{
    background-color: #402530;
    color: white;
}
.cut-out img{
    height: 55vh;
}
.lower_hero{
    display: flex;
    justify-content: space-between;
    padding: 1% 12% 4% 12%;
}
.rating{
    width: 20%;
    text-align: center;
    line-height: 1.6rem;
    letter-spacing:0.3mm;
    font-size: 0.9rem;
    
}
.rate{
    opacity: 0.7;
}
.upper_hero{
    display: flex;
 justify-content: space-evenly;
 padding: 7.5% 2.5% 7% 4%;
}
.text-heading{
    width: 35%;
    margin-top: 5%;
    letter-spacing: 0.2mm;
}
.text-heading h1{
    font-size: 3rem;
}
.text-heading p{
    margin-top: 1%;
    line-height: 0.6cm;
    opacity: 0.8;
}
.business-suites{
    text-align: center;
}

input[type="email"]{
background-color: #502D3B;
border-style: none;
width: 20vw;
padding-left: 13px;
}

input[type="email"]::placeholder{
    color: white;
    opacity: 0.5;
    font-size: 1rem;

  
}
.email{
    background-color: #502D3B;
    display: inline-block;
    padding: 7px;
    margin-top: 5%;
    border-radius: 3px;
    border:1px solid #65394a;
 
}
.bigger{
    height:7vh;
    width: 10vw;
}
.privacy{
    font-size: 0.5rem;
}